<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id="robot" class="com.app.model.Robot" autowire="byName" />
	<bean id="chip" class="com.app.model.Chip">
		<property name="id" value="101" />
		<property name="type" value="steel" />
	</bean>

	<bean id="sensor" class="com.app.model.Sensor">
		<property name="id" value="501" />
		<property name="range" value="high_quality" />
	</bean>
	
	
	<bean id="robot1" class="com.app.model.Robot" autowire="byType"/>
	<bean id="chip1" class="com.app.model.Chip">
		<property name="id" value="102" />
		<property name="type" value="steel" />
	</bean>

	<bean id="sensor1" class="com.app.model.Sensor">
		<property name="id" value="502" />
		<property name="range" value="high_quality" />
	</bean>
</beans>